*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    background-image: url(../img/background.png);
    background-color: #79B331;
    width: 100%;
}
header{
    padding-bottom: 90px;
}
.fa-bars-icon{
    width: 100%;
    text-align: right;
    font-size: 50px;
    color: #79B331;
    display: none;
}
.xisdivi{
    margin-top: 0;
    background-color: #ffffff;
    display: none;
}
.x{
    padding-top: 0;
    width: 50px;
    font-size: 50px;
    padding: 5px;
}
.x:hover, .fa-bars:hover{
    cursor: pointer;
} 
ul{
    display: flex;
    margin-right: 50px;
    margin-top: 50px;
    justify-content: end;
}
nav li{
    background-color: #C4C4C4;
    height: 70px;
    text-align: center;
    margin-left: 86px;
    border-radius: 0 35px 0 35px; 
    padding-top: 22px;
}
nav li:hover{
    background-color: #79B331;
}
nav .activ{
    background-color: #79B331;
}
nav .pirvelili{
    width: 228px;
}
nav .meoreli{
    width: 126px;
}
nav .mesameli{
    width: 72px;
}
nav a{
    font-size: 18px;
    color: #000000;
}
main .aqciisdro{
    width: 358px;
    margin-left: 700px;
    text-align: center;
    margin-bottom: 140px;
}
main .wre{
    width: 32px;
    height: 32px;
    background-color: #79B331;
    border-radius: 50%;
    position: relative;
    margin-left: -22px;
    animation: circle infinite 5s;
}
@keyframes circle {
    0%{top:0; left:0;}
    25%{top:0; left: 370px}
    50%{top:126px; left:370px;}
    75%{top: 126px; left:0;}
    100%{top:0; left:0;}
}
main .aqcia{
    font-size: 18px;
    margin: 10px 0 20px 0;
}
main .dro{
    font-size: 36px;
}
main .mcenare{
    height: 502px;
    width: 1062px;
    margin-left: 20%;
    position: relative;
    top: 70px;
}
main .gero{
    height: 502px;
    width: 2px;
    background-color: #C4C4C4;
    margin-left: 52%;
}
main .pirveli{
    position: absolute;
    top: 0px;
    padding-left: 94px;
}
main .meore{
    position: absolute;
    top: 114px;
    margin-left: 36px;
    padding-left: 516px
}
main .mesame{
    position: absolute;
    top: 228px;
    margin-left: 36px;
    padding-left: 56px
}
main .meotxe{
    position: absolute;
    top: 342px;
    margin-left: 36px;
    padding-left: 516px
}
main .marcxena a,main .marjvena a{
    width: 460px;
    height: 70px;
    display: flex;
}
main .marcxena .teqsti, main .marjvena .teqsti{
    color: #000000;
    font-size: 18px;
}
main .marcxena .fotoli{
    width: 70px;
    height: 70px;
    border-radius: 0 50% 0 50%;
    background-color: #C4C4C4;
}
main .marjvena .fotoli{
    width: 70px;
    height: 70px;
    border-radius: 50% 0 50% 0;
    background-color: #C4C4C4;
}
main .marjvena .fotoli:hover, main .marcxena .fotoli:hover{
    background-color: #79B331;
}
main .marjvena .teqsti:hover, main .marcxena .teqsti:hover{
    color: #79B331;
}
/* ---------------shop--------------------- */
.shop .mtlianicharcho{
    width: 620px;
    height: 420px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 200px;
    margin-left: 40%;
    margin-bottom: 200px;
}
.shop .charcho{
    width: 200px;
    height: 200px;
    background-color: #D9D9D9;
}
.shop .charcho:hover{
    background-color: #79B331;
}
.shop a{
    margin-left: 65px;
}
.shop p{
    width: 100%;
    text-align: center;
}
.shop .minicharcho{
    width: 70px;
    height: 70px;
    margin: 30px 65px;
}
.shop .pirvelia{
    background-image: url(../img/biodegradable\ 1.png);
}
.shop .meorea{
    background-image: url(../img/detox\ 1.png);
}
.shop .mesamea{
    background-image: url(../img/keto\ 1.png);
}
.shop .meotxea{
    background-image: url(../img/cereal\ 1.png);
}
.shop .mexutea{
    background-image: url(../img/salad\ 1.png);
}
.shop .meeqvsea{
    background-image: url(../img/vitamin\ 1.png);
}
